/* Page */
.page {
  margin-top: 80px;
  margin-bottom: 80px;
  @media (max-width: $mobile) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.page__head {
  text-align: center;
}

.page__title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 35px;
}

.page-image {
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $gray-white;
  &:after {
    content: '';
    display: table;
    padding-top: 65%;
  }
}

.page-image-caption {
  text-align: left;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 12px;
  color: $gray-dark
}


.page__content {
  margin-bottom: 45px;
  p {
    font-size: 16px;
    line-height: 18px;
    color: $gray;
    img {
      margin: 30px 0;
    }
  }
  ul li{
    font-size: 16px;
    line-height: 18px;
    color: $gray;
  }
  ol li {
    font-size: 16px;
    line-height: 18px;
    color: $gray;
    /*margin-bottom: 15px; */
  }
}
